<h3 class='selected building-info subheader'>Kiinteist&ouml;jen tiedot ja energiankulutus</h3>
<h4>Energiankulutus</h4>
<div class='chart consumption'>
</div>

<h3 class='production subheader'>Energiantuotanto</h3>
<h4>Lämpö</h4>
<div class='chart production'>
</div>

<h3>Ostettu energia</h3>
<div class='chart remainder'>
</div>

<h3>Kustannuslaskelma</h3>