<h3 class='selected building-info subheader'>Kiinteist&ouml;jen tiedot ja energiankulutus</h3>

<div class="chart-unit">
    <h4>S&auml;hk&ouml; <span class="electricity-consumption-total"></span></h4>
    <div class='chart electricity-consumption'>
    </div>
</div>

<div class="chart-unit">
    <h4>L&auml;mp&ouml;energia <span class="heating-consumption-total"></span></h4>
    <div class='chart heating-consumption'>
    </div>
</div>
<div class="clear">
</div>
<div class="first-infoarea"></div>

<h3 class='production subheader'>Energiantuotanto</h3>

<div class="chart-unit">
    <h4>S&auml;hk&ouml; <span class="electricity-production-total"></span></h4>
    <div class='chart electricity-production'>
    </div>
</div>

<div class="chart-unit">
    <h4>L&auml;mp&ouml;energia <span class="heating-production-total"></span></h4>
    <div class='chart heating-production'>
    </div>
</div>
<div class="clear">
</div>

<h3 class="purchased subheader">Energiatase</h3>

<div class="chart-unit">
    <h4>S&auml;hk&ouml; <span class="electricity-purchased-total"></span></h4>
    <div class='chart electricity-purchased'>
    </div>
</div>

<div class="chart-unit">
    <h4>L&auml;mp&ouml;energia <span class="heating-purchased-total"></span></h4>
    <div class='chart heating-purchased'>
    </div>
</div>
<div class="clear">
</div>

<h3 class="costs subheader">Kustannuslaskelma</h3>