<h3 name='address'></h3>
<a class='delete'>[delete]</a>
<form class='form-horizontal span4 offset1'>

    <div class='control-group'>
        <label class='control-label'>Rakennustyyppi</label>
        <div class='controls'>
            <select class='input-medium' name='buildingType'>
                <option>Erillinen pientalo</option>
                <option>Rivitalo</option>
                <option>Ketjutalo</option>
            </select>
        </div>
    </div>

    <div class='control-group'>
        <label class='control-label'>Rakennusvuosi</label>
        <div class='controls'>
            <input type='text' class='input-medium' name='buildYear'>
        </div>
    </div>

    <div class='control-group'>
        <label class='control-label'>Lämmitettävä Pinta-ala (m2)</label>
        <div class='controls'>
            <input type='text' class='input-medium' name='floorArea'>
        </div>
    </div>

    <div class='control-group'>
        <label class='control-label'>Keskimääräinen huonekorkeus (cm)</label>
        <div class='controls'>
            <input type='text' class='input-medium' name='avgHeight'>
        </div>
    </div>

    <div class='control-group'>
        <label class='control-label'>Asukasmäärä</label>
        <div class='controls'>
            <select class='input-medium' name='peopleCount'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>

    <div class='control-group'>
        <label class='control-label'>Keskisäteily</label>
        <div class='controls'>
            <span class='input-medium uneditable-input' name='averageRadiation'>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>Katon pinta-ala (m2)</label>
        <div class='controls'>
            <span class='input-medium uneditable-input' name='roofArea'>
        </div>
    </div>
</form>