<div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
        <div class='container'/>
    </div>  
</div>  

<div class='container'>
    <div class='row'>
        <div class='hero-unit'>
            <h1>Energiatieto</h1>
        </div>
    </div>  

    <div class='row'>
        <div class='span6 control-form'>

        </div>
        <div class='span6 chart-area'>
            
        </div>
    </div>
</div>