<div class='wide'>
    <div class='navbar navbar-inverse header'>
        <div class='navbar-inner'>
            <div class='container'>
                <span class='brand'>Energiatieto</span>
            </div>
        </div>  
    </div>  
    <div class='panel right'>
        <div class='helptext'>
        </div>
        <div class='map'>
        </div>
        <div class='control-form'>
        </div>
    </div>
    <div class='panel left'>
        <div class='chart-area'>
        </div>
    </div>
</div>