<div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='brand'>Energiatieto</a>
        </div>
    </div>  
</div>  

<div class='container'>
    <div class='row'>
        <div class='span6 panel'>
            <div class='chart-area'>
            </div>
        </div>
        <div class='span6 panel'>
            <div class='map'>
            </div>
            <div class='control-form'>
            </div>
        </div>
    </div>
</div>