<div class='container master'>
    <div class='navbar navbar-inverse header'>
        <div class='navbar-inner'>
            <div class='container'>
                <span class='brand'>Energiatieto</span>
            </div>
        </div>  
    </div>  
    <div class='row main'>
        <div class='span7 panel left'>
            <div class='chart-area'>
            </div>
        </div>
        <div class='span5 panel right'>
            <div class='map'>
            </div>
            <div class='control-form'>
            </div>
        </div>
    </div>
</div>