<div class="controlform-frame">

    <div class='controlform-frame-header'>
        <span class='icon-round-x delete'></span>
        <h5>{{typeName}}</h5>
    </div>

    <div class="controlform-frame-content form-horizontal">

        <div class='control-group'>
            <label class='control-label'></label>
            <div class='controls'>
                <input type='text' class='input-medium re-render' name='buildingName'>
            </div>
        </div>

    </div>
</div>