<div class='indent'>
    <form class="search">
            <input type='text' class='input-xlarge' name='search' placeholder='Syötä osoite...'>
            <input type='submit' value='Etsi' class='btn btn-inverse'></input>
    </form>
    <div class="modeselector"></div>
</div>
<div class="controls"></div>
<div class="map"></div>