<div>
    <form class="search">
            <input type='text' class='input-xlarge' name='search' placeholder='Syötä osoite...'>
            <input type='submit' value='Etsi' class='btn btn-inverse'></input>
    </form>
</div>
<div class="map" style="width: 400px; height: 300px;"></div>