!!!
head
    title Energiatieto
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/tipsy/tipsy-1.0.0a.css')
    link(rel='stylesheet', href='/css/energiatieto.css')
    script(type='text/javascript') 
        window.googleMapsApiKey = '#{process.env["google.maps.api.key"]}';
    script(type='text/javascript', src='js/main.js')
    script require(['main'])

    style 
        .chart g.total {
            fill: steelblue;
         }
        .chart g.water {
            fill: orange;
         }
        .map img { max-width: none; }
body