!!!
head
    title Energiatieto
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    script(type='text/javascript', src='js/main.js')
    script require(['main'])

    style 
        .chart rect {
            stroke: white;
            fill: steelblue;
         }
body