    <div class='control-group'>
        <label class='control-label'>Heating Selector</label>
        <div class='controls'>
            <input type='checkbox' class='input-medium' name='heating'></input>
        </div>
    </div>

    <div class='sub-view'>
    </div>