<form class='form-horizontal span4 offset1'>
    <div class='control-group'>
        <label class='control-label'>Rakennusvuosi</label>
        <div class='controls'>
            <input type='text' class='input-medium'>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>Henkilöluku</label>
        <div class='controls'>
            <select class='input-medium'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>

    <div class='control-group'>
        <label class='control-label'>Pinta-ala(m2)</label>
        <div class='controls'>
            <input type='text' class='input-medium'>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>Rakennus</label>
        <div class='controls'>
            <select class='input-medium'>
                <option>Rakennus 1</option>
                <option>Rakennus 2</option>
                <option>Rakennus 3</option>
                <option>Rakennus 4</option>
                <option>Rakennus 5</option>
                <option>Rakennus 6</option>
            </select>
        </div>
    </div>

    <div class='control-group'>
        <label class='control-label'>Keskisäteily</label>
        <div class='controls'>
            <input type='text' class='input-medium'>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>Katon pinta-ala (m2)</label>
        <div class='controls'>
            <input type='text' class='input-medium'>
        </div>
    </div>
</form>